body{
    margin:0%;
    padding:0%;
    background-image: url('https://storage.googleapis.com/hungerfree-static/static/imgdata/login.jpg');
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}